<bus-stop-detail *ngIf="is_viewing_detail"></bus-stop-detail>
<div class="container">
  <div class="line-number">Line {{info.line}}</div>
  <div class="stop">Stop {{info.stop_number}}</div>
  <div class="bus-destination">{{info.summary}}</div>

  <div class="btn-container">
    <button class="btn" (click)="Go()" ion-button round outline color=secondary strong>
      Go
    </button>
    <button class="btn" (click)="ViewDetail()" ion-button round outline color=orange strong>
      Detail
    </button>
  </div>
</div>