bus-stop-icon-response {
  .container {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    grid-template-areas: "line-number btn-container"
                         "stop btn-container"
                         "bus-destination btn-container";
    height: 100%;
    max-width: 100%;
    font-family: sans-serif;
    background: linear-gradient(to top,  white 80%, transparent 100%);
    padding: 2%;
  }

  .stop {
    grid-area: stop;
    color: map-get($colors, secondary);
    font-weight: bold;
    font-size: 1.8em;
    margin: auto 0 auto 0;
  }

  .line-number {
    grid-area: line-number;
    color: map-get($colors, secondary);
    font-weight: bold;
    font-size: 1.2em;
    margin: auto 0 0 0;
  }

  .bus-destination {
    grid-area: bus-destination;
    color: map-get($colors, gray);
    font-size: 0.9em;
    margin: 0 0 auto 0;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    grid-area: btn-container;
    margin: auto;
    right: 3%;
  }

  .btn {
    font-size: 1.8rem;
    padding: 20px;
    right: 0px;
    max-width: 40%;
    margin: auto;
  }
}
