page-trip-choices {
  .searched-location {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "pin name"
                         "pin address";
    grid-column-gap: 10px;
    grid-row-gap: 3px;
    height: 10vh;
    background-color: map-get($colors, primary);
    border-radius: 0 50px 50px 0;
    padding: 15px 15px 0px 0;
    color: white;
    font-family: sans-serif;

  }

  .pin-icon {
    grid-area: pin;
    margin-left: auto;

  }

  .location-name {
    grid-area: name;
    font-size: 1.6em;
  }

  .location-address {
    grid-area: address;
    font-size: 0.8em;
    margin-bottom: 15%;
  }


  .container {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    font-family: sans-serif;
    padding-top: 10px;

  }

  .divider {
    border-bottom: 1.5px solid #c3c6cc;
  }

  .left-center {
    margin: auto;
  }

  .left {
    grid-area: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1px;
    grid-template-areas: "transportation"
                         "arrival-detail";
    height: 10vh;
    margin: auto 0 auto 0;

  }

  .transportation {
    grid-area: transportation;
    color: map-get($colors, primary);
    font-weight: bold;
    font-size: 1.2em;
  }
  .means-of-tranportation {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 0.5em;
  }

  .arrival-detail {
    font-size: 0.75em;
    color: map-get($colors, gray);
  }
  .time {
    margin-left: 9%;
  }

  .bus-destinatiion {
    color: map-get($colors, gray);
    font-size: 1em;
    margin: auto 0 auto 0;
  }

  .right {
    grid-area: right;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "btn"
                         "btn"
                         "btn";
    height: 10vh;
    margin: 0 auto 0 auto;
  }

  .btn-container {
    grid-area: btn;
  }

  .btn {
    font-size: 1.2em;
    padding:  10px 19px;
    height: 2em;
  }
}
