<!--
  Generated template for the TripChoicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>trip-choices</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="searched-location">
      <div class="pin-icon">
        <ion-icon name="pin" style="zoom: 2.8;" outline>
        </ion-icon>
      </div>
      <div class="location-name">
        AEON Sen Sok
      </div>
      <div class="location-address">
        St. 1003 village Bayab, Phnom Penh
      </div>
    </div>
    <!-- <br /> -->

    <div class="container">
      <div class="left-center">
        <div class="left">
          <div class="transportation">
            <ion-icon name="bus" style="zoom: 1.7;">
              <span class="means-of-tranportation">
                Public Bus
              </span>
            </ion-icon>
          </div>
          <div class="arrival-detail">
            Estimate Arrival
            <span class="time">10-15mn</span>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="btn-container">
          <button class="btn" ion-button round outline color=secondary strong>
            Go
          </button>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="container">
      <div class="left-center">
        <div class="left">
          <div class="transportation">
            <ion-icon name="walk" style="zoom: 1.7; color: orange">
              <span class="means-of-tranportation">
                Walk
              </span>
            </ion-icon>
          </div>
          <div class="arrival-detail">
            Estimate Duration
            <span class="time">90mn</span>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="btn-container">
          <button class="btn" ion-button round outline color=orange strong>
            Go
          </button>
        </div>
      </div>
    </div>
</ion-content>
