<div class="blur" (click)="Close()"></div>
<div class="pop-up-container">
  <h4 style="margin-top: 10px; margin-bottom: 15px">Information</h4>
  <div class="card-container">
    <div class="stop-key">
      Stop
    </div>
    <div class="stop-value">
      Stop {{info.stop_number}}
    </div>
    <div class="line-key">
      Line
    </div>
    <div class="line-value">
      Line {{info.line}}
    </div>
    <div class="location-key">
      Location
    </div>
    <div class="location-value">
      {{ info.location }}
    </div>
    <div class="destination-key">
      Destination
    </div>
    <div class="destination-value">
      {{info.summary}}
    </div>
  </div>
  <div class="btn-container">
    <button class="btn" (click)="Close()" ion-button round outline color=secondary strong>Okay</button>
  </div>
</div>