bus-stop-detail {
    .blur {
      height: 100vh;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      background: rgba(255,255,255,0.8);
      z-index: 1;
    }
    .pop-up-container {
      background-color: map-get($colors, primary);
      color: white;
      font-family: sans-serif;
      border: 1px solid #f1f1f1;
      border-radius: 15px;
      position: absolute;
      top: 30%;
      left: 5%;
      z-index: 2;
      width: 90%;
      padding: 20px;
    }

    .card-container {
      display: grid;
      grid-template-columns: 25% 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 5px;
      background-color: map-get($colors, primary);
    }

    .stop-key, .line-key, .location-key, .destination-key {
      font-size: 0.85em;
      padding-top: 2px;
    }

    .stop-value, .line-value, .location-value, .destination-value {
      font-size: 1.1em;
    }

    .btn-container {
      display: block;
      right: 0px;
      width: 100%;
      padding-left: 0%;
      .btn {
        margin: 3px solid red;
        margin-right: 0%;
        margin-top: 20px;
        background-color: white;
        font-size: 1.3em;
      }
    }
}
