<ion-content>
    <congratulation-card *ngIf="show_alert"></congratulation-card>
    <div id="map_canvas" [class]="is_searching?'layout-search':'layout-no-search'">
        <button class="profile-button" menuToggle>
            <!-- <ion-icon name="ios-contact-outline"></ion-icon> -->
            <img style="width: 50%;" src="../assets/icon/tj-g.png">
        </button>
        <ion-searchbar (click)="is_searching = true" (keyup.enter)="GetSearchResult()" mode="ios" animated autocomplete cancelButtonText="Cancel" debounce="650" spellcheck [(ngModel)]="searchInput"
            showCancelButton (ionInput)="GetSearchResult()" (ionCancel)="is_searching = false" class="search-bar" placeholder="Take me somewhere">
        </ion-searchbar>
        <ion-list class="search-result" (click)="is_searching = false">
            <div></div>
            <div class="loading" *ngIf="search_in_progress">searching...</div>
            <ion-item *ngFor="let result of searchResult" (click)="Go(result.coords)">
                {{ result.name }}
            </ion-item>
        </ion-list>
        <find-nearest *ngIf="!is_marker_selected && !is_en_route"></find-nearest>
        <bus-stop-icon-response *ngIf="is_marker_selected"></bus-stop-icon-response>
        <en-route *ngIf="is_en_route"></en-route>
    </div>
</ion-content>
