page-home {
    #map_canvas {
        height: 100%;
        display: grid;
        min-height: 100vh;
        min-width: 100%;
    }

    .loading {
        padding-top: 20px;
        width: 100%;
        text-align: center;
    }

    .search-result {
        grid-area: search-result;
        margin-top: -20%;
        padding-top: 16%;
        padding-right: 3%;
        height: 130%;
        display: none;
        background-color: white;
        z-index: 0;
    }

    .layout-no-search {
        grid-template-rows: 14vh 1fr 17vh;
        grid-template-columns: 20% 1fr;
        grid-template-areas: "profile-button search-bar"
                             ". ."
                             "bottom-panel bottom-panel";
    }

    .layout-search {
        grid-template-rows: 14vh 1fr 17vh;
        grid-template-columns: 20% 1fr;
        grid-template-areas: "search-bar search-bar"
                             "search-result search-result"
                             "bottom-panel bottom-panel";
        .profile-button {
            display: none;
        }

        .search-result {
            display: block;
            width: 100%;
        }
    }

    en-route {
        grid-area: bottom-panel;
    }
    
    find-nearest {
        grid-area: bottom-panel;
    }

    bus-stop-icon-response {
        grid-area: bottom-panel;
    }

    ion-searchbar {
        grid-area: search-bar;
        width: 100%!important;
        height: 100%!important;
        border-bottom: 0px!important;
        z-index: 1;
        background: linear-gradient(to bottom,  white 80%, transparent 100%)!important;
        .searchbar-input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .searchbar-search-icon {
                top: auto;
                bottom: auto;
                margin-left: 0px!important;
            }
            .searchbar-input {
                font-size: 15px;
                padding-left: 15%!important;
            }
        }
    }

    .profile-button {
        grid-area: profile-button;
        color: map-get($colors, primary);
        background: transparent;
        font-size: 40px;
        background: linear-gradient(to bottom,  white 80%, transparent 100%);
    }
}
