<div class="blur" (click)="Close()"></div>
<div class="pop-up-container">
  <h2>Congratulation!</h2>
  <p style="line-height: 1.6;">{{ message.title }}<br />
    {{ message.body }}
  </p>
  <div class="btn-container">
    <button (click)="Close()" ion-button round outline color=secondary strong class="btn">
      Okay
    </button>
  </div>
</div>
