congratulation-card {
  .blur {
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 5;
  }

  .pop-up-container {
    background-color: map-get($colors, primary);
    color: white;
    font-family: sans-serif;
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 6;
    width: 90%;
    padding: 20px;
  }
  
  .btn {
    background-color: white;
    padding: 18px 16px;
    font-size: 1.3em;
  }

  .btn-container {
    width: 100%;
    padding-left: 74%;
  }
}
