<!-- Generated template for the FindNearestComponent component -->
<div class="container">
  <div class="top-text">
    <div>Please click on Bus Stop</div>
    <div>or</div>
  </div>
  <div class="go-nearest">
    <button (click)="GoNearest()" ion-button outline round small strong class="primary-button">Go to Nearest</button>
  </div>
  <!-- <button mode="ios" (click)="ToggleAllStops()" class="all-stops-toggle">
    <ion-icon [name]="allStopsToggleStatus ? 'ios-eye-outline':'ios-eye-off-outline'" class="eye-container"></ion-icon>
  </button> -->
  <button mode="ios" (click)="ToggleAllBLines()" class="all-b-lines-toggle">
    <ion-icon [name]="allBLinesToggleStatus ? 'ios-eye-outline':'ios-eye-off-outline'" class="eye-container"></ion-icon>
  </button>
</div>
