find-nearest {
    .container {
        color: grey;
        height: 100%;
        background: linear-gradient(to top,  white 80%, transparent 100%);
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 50% 50%;
        grid-template-areas: ". top-text ."
                             "all-stops-toggle go-nearest all-b-lines-toggle";
    }

    .go-nearest {
        grid-area: go-nearest;
        text-align: center;
        margin-top: auto;
        margin-bottom: 20px;
        button {
            padding: 8px;
            height: 40px!important;
        }
        .button-inner {
            font-size: 15px;
        }
    }

    .go-nearest :hover{
        background: #33c15d;
    }

    .top-text {
        grid-area: top-text;
        text-align: center;
        margin-top: auto;
        margin-bottom: 0px;
    }

    .all-stops-toggle {
        grid-area: all-stops-toggle;
        color: map-get($colors, primary);
        background-color: transparent;
        font-size: 35px;
        margin: 10px;
    }

    .all-b-lines-toggle {
        grid-area: all-b-lines-toggle;
        color: map-get($colors, primary);
        background-color: transparent;
        font-size: 35px;
        margin: 10px;
    }

    .eye-container {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}
