// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #33c15d,
  secondary:  #47B549,
  danger:     #e63e3e,
  light:      #f4f4f4,
  dark:       #222,
  orange:     #faaf00,
  gray:       #3a3a3a
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
//Searchbar thickness
// $searchbar-ios-padding-horizontal: 8px;
// $searchbar-ios-padding-vertical: 0px;
$searchbar-ios-border-color: white;
$searchbar-ios-background-color: white;
$searchbar-ios-input-background-color: #e3e4e5;
$searchbar-ios-min-height: 60px;
$searchbar-ios-input-height: 3.5rem;
$searchbar-ios-input-search-icon-size: 16px;
$searchbar-ios-input-search-icon-color: #b5b8bc;
// $searchbar-ios-input-border-radius: 50px;
//For fab button on homepage
$fab-ios-background-color: white;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
//Search bar
$searchbar-md-input-border-radius: 50px;
$searchbar-md-input-search-icon-size: 30px;
$searchbar-md-input-search-icon-color: #b1b7bc;

//Human Icon
// $fab-md-box-shadow: 0 0 0px 3px rgb(53, 173, 88);
$fab-md-background-color: white;

//Button
$button-round-border-radius: 10px;
$button-md-text-transform: capitalize;
$button-md-strong-font-weight: bold;
$button-md-outline-border-width: 1.5px;
$button-md-round-border-radius: 7px;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
