<ion-menu [content]="content">

  <ion-content id="menu-content">
    <div class="menu-container">
      <div class="profile">
        <!-- <ion-icon name="ios-contact-outline" class="profile-icon" ></ion-icon> -->
        <img style="width: 70%;" src="../assets/icon/tj-w.png">
      </div>
      <div class="username">
        <p class="left-nav-title ">tosjis</p>
        <p class="left-nav-sub-title">Beta version</p>
      </div>
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages">
        {{p.title}}
      </button>
    </ion-list>
    <div style="margin-top: 70%;">
      <ion-list >
        <button menuClose ion-item style="color: #e13838">Log Out</button>
      </ion-list>
    </div>
  </ion-content>

</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
