// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-menu {
  // margin-top: 5%;
}

.menu-container {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "profile username";
  height: 130px;
  border-bottom: 10px solid #36cc62;
  // margin-right: 5%;
  background: #33c15d;
  color: white;
}

.profile {
  grid-area: profile;
  margin: auto auto auto 30%;
}

.profile-icon {
  zoom:4.5;
  color: map-get($colors, primary);
}

.username {
  grid-area: username;
  margin: auto 0 auto 15%;
  margin-left: 10px;
  font-size: 25px;
}

.left-nav-sub-title {
  margin: 0;
  font-size: 12px;
  color: #0f772d;
}

.left-nav-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

ion-menu div.input-wrapper {
  font-size: 16px;
  margin: 10px;
}

.primary-button {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #33c15d;
  color: #33c15d;
}

.primary-button :hover {
  background: #33c15d;
  color: #ffffff;
}
