<div class="container">
  <div class="line-number">Line {{ info.line }}</div>
  <div class="stop">Stop {{ info.stop_number }}</div>
  <div class="bus-destination">{{ info.summary }}</div>
  <div class="walk">{{ info.mode }}</div>
  <div class="time">{{ info.duration }}</div>
  <div class="btn-container">
    <button class="btn" ion-button round outline color=danger strong (click)="BackToMain()">
      Back
    </button>
  </div>
</div>