en-route {
  .container {
    display: grid;
    grid-template-columns: 1fr 25% 25%;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1px;
    grid-template-areas: "line-number walk btn"
                         "stop time btn"
                         "bus-destination time btn";
    height: 100%;
    font-family: sans-serif;
    background: linear-gradient(to top,  white 80%, transparent 100%);
    padding: 3%;
  }

  .stop {
    grid-area: stop;
    color: map-get($colors, secondary);
    font-weight: bold;
    font-size: 1.8em;
    margin: auto 0 auto 0;
  }

  .line-number {
    grid-area: line-number;
    color: map-get($colors, secondary);
    font-weight: bold;
    font-size: 1.2em;
    margin: auto 0 0 0;
  }

  .bus-destination {
    grid-area: bus-destination;
    color: map-get($colors, gray);
    font-size: 0.9em;
    margin: 0 0 auto 0;
  }

  .walk {
    grid-area: walk;
    margin: auto auto 0 0;
    color: map-get($colors, gray);
    font-size: 0.9em;
    // margin: auto;
    margin: auto 0 0 0;
  }

  .time {
    grid-area: time;
    margin: 0 auto auto 0;
    color: map-get($colors, secondary);
    font-weight: bold;
    font-size: 1.6em;
  }

  .btn-container {
    grid-area: btn;
    margin: auto auto auto auto;
  }

  .btn {
    font-size: 1.8rem;
    padding: 20px;
    max-width: 65px;
  }
}
